<div class="aligner">
  <mat-card class="aligner-item">
    <mat-card-title>
      Tuten | Inicion de sesión
    </mat-card-title>

    <mat-card-content>
      <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate>
        <mat-form-field style="width: 100%; margin-top: 10px;"
                        [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <input matInput type="text" formControlName="user" placeholder="Usuario"/>
          <mat-hint style="color: red;"
                    *ngIf="submitted && error?.code == 1 && !loginForm.controls.user.hasError('required')">
            {{error.message}}
          </mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.user.hasError('required')">Campo
            obligatorio
          </mat-hint>
        </mat-form-field>

        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="password" formControlName="pass" placeholder="Contraseña"/>
          <mat-hint style="color: red;"
                    *ngIf="submitted && error?.code == 2 && !loginForm.controls.pass.hasError('required')">
            {{error.message}}
          </mat-hint>
          <mat-hint style="color: red;"
                    *ngIf="submitted && loginForm.controls.pass.hasError('required')">Campo
            obligatorio
          </mat-hint>
        </mat-form-field>

        <mat-form-field style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input matInput type="text" formControlName="app" placeholder="app" />
          <mat-hint style="color: red;"
                    *ngIf="submitted && error?.code == 2 && !loginForm.controls.app.hasError('required')">
            {{error.message}}
          </mat-hint>
          <mat-hint style="color: red;"
                    *ngIf="submitted && loginForm.controls.app.hasError('required')">Campo
            obligatorio
          </mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions style="text-align: right;">
      <button mat-raised-button type="submit" form="login-form">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div>
